<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://192.168.2.100');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
  socket.on('msg', function (data) {
  	//document.getElementById('msg').innerHTML = data.msg;

  	console.log(data);
  	console.log(typeof(data));

  	var output = data.msg;

  	console.log(output);
  	document.getElementById('msg').innerHTML = output;
  	//
  });


</script>
<button id="play" onclick="socket.emit('play');">Play/Pause</button>
<button id="next" onclick="socket.emit('next');">Next</button>
<button id="volup" onclick="socket.emit('volup');">Volume Up</button>
<button id="voldown" onclick="socket.emit('voldown');">Volume Down</button>
<div id="msg"></div>